#main {
    float: left;
    margin-top: 20px;
}

aside {
    float: left;
    margin-top: 20px;
}

#courses {
    float: left;
    width: 90%;
}

.course {
    width: 100%;
    margin-bottom: 10px;
    float: left;
    font-family: 'Roboto Slab', serif;
    color: #4f4f4f;
    padding: 0 5px;
}

.course>img {
    border: 2px solid #dfdfdf;
    border-radius: 5px;
    width: 35%;
    float: left;
    margin-right: 10px;
}

.course>span {
    float: right;
    font-weight: bold;
    color: rgba(236, 101, 80, 1);
}

#courses>a>.btn {
    float: left;
    margin-left: 30%;
}

#one_curse {
    float: left;
    margin-top: 10px;
}

#one_curse>img {
    float: left;
    width: 80%;
}

.heading {
    font-weight: lighter;
    font-size: 1.4em;
    border-bottom: 2px solid #db6e6e;
    float: left;
    color: #4f4f4f;
    padding: 0px 5px;
}

.heading:first-letter {
    color: #db6e6e;
}

.article {
    width: 40%;
    float: left;
    margin-right: 10%;
    margin-bottom: 20px;
    border: 1px solid #e3e3e3;
    box-sizing: border-box;
    max-width: 350px;
    border-radius: 5px;
}

.article>img {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 100px;
}

.article>span {
    font-family: 'Roboto Slab', serif;
    font-size: 1.1em;
    width: 80%;
    margin: 7px 10%;
    float: left;
    text-align: center;
    color: #333;
}

#news {
    float: left;
}

#news>a>.btn {
    margin-bottom: 20px;
    float: left;
    margin-left: 30%;
}

@media (min-width: 1051px) {
    #main {
        width: 60%;
        margin-left: 3%;
    }

    aside {
        width: 30%;
        margin-left: 2%;
    }

    #news {
        margin-left: 10%;
        width: 90%;
    }
}

@media (max-width: 1050px) and (min-width: 911px) {
    #main {
        width: 65%;
        margin-left: 2%;
    }

    aside {
        width: 32%;
    }

    #news {
        margin-left: 4%;
        width: 96%;
    }
}

@media (max-width: 910px) and (min-width: 500px) {
    #main {
        width: 90%;
        margin-left: 5%;
    }

    aside {
        width: 50%;
        margin-left: 25%;
    }

    #news {
        margin-left: 4%;
        width: 96%;
    }
}

@media (max-width: 499px) {
    #main {
        width: 90%;
        margin-left: 5%;
    }

    aside {
        width: 80%;
        margin-left: 10%;
    }

    #news {
        margin-left: 4%;
        width: 96%;
    }
}

@media (max-width: 600px) {
    #courses>a>.btn {
        margin-left: 5%!important;
    }
}

@media (min-width: 1220px) {
    .article {
        width: 40%;
        margin-right: 10%;
    }
}

@media (max-width: 1219px) and (min-width: 650px) {
    .article {
        width: 45%;
        margin-right: 5%;
    }
}

@media (max-width: 649px) and (min-width: 500px) {
    .article {
        width: 70%;
        margin-left: 15%;
    }
}

@media (max-width: 499px) {
    .article {
        width: 90%;
        margin-left: 5%;
    }
}

@media (max-width: 440px) {
    #news>a>.btn {
        margin-left: 5%!important;
    }
}

/*Нижняя часть сайта*/

#subscribe {
    float: left;
    text-align: center;
    margin-bottom: 20px;
}

@media (min-width: 910px) {
    #subscribe{
        width: 70%;
    }
}

@media (max-width: 910px) {
    #subscribe{
        width: 100%;
    }
}

#subscribe>span {
    font-family: "Roboto Slab", serif;
    font-size: 2em;
    color: #434343;
}